<%- include('partials/header') -%>

<h1 class="text-4xl mb-4">Dashboard</h1>

<h2 class="text-3xl mb-2">Welcome <%= user.name %></h2>

<% if (user.picture) { %>
  <img class="block py-3" src="<%= user.picture %>" width="300">
<% } %>

<p class="py-3">
  Hi, dashboard for <%= user.name %>.<br>
  Email: <%= user.email %>
</p>

<% if (user.auth0Id) { %>
  <p>Auth0 ID: <%= user.auth0Id %></p>
<% } %>

<%- include('partials/footer') -%>