<%- include('partials/header') -%>

<h1 class="text-4xl mb-4"><%= title %></h1>

<h2 class="text-3xl mb-2">Welcome <%= user.nickname %></h2>

<% if (user.picture) { %>
  <img class="block py-3" src="<%= user.picture %>" width="300">
<% } %>

<p class="py-3">
  Hi, dashboard for  <%= user.nickname %></code>.<br>
</p>


<%- include('partials/footer') -%>
