<%- include('partials/header') -%>



<% if (locals.isAuthenticated) { %>

<h1 class="text-4xl">Hi <%= user.name %></h1>
<h1 class="text-4xl mb-4"><%= user.nickname %></h1>
<h2 class="text-3xl mb-2">Your email: <%= user.email %></h2>

<h2 class="text-3xl mb-2">Welcome <%= user.given_name %></h2>


<% if (user.picture) { %>
  <img class="block py-3" src="<%= user.picture %>" width="300">
<% } %>

<p class="py-3">
  Hi, dashboard for  <%= user.nickname %></code>.<br>
</p>




<% } else { %>
    <p>You are not logged in. <a href="/login" class="underline">Login</a>.</p>
<% } %>

<%- include('partials/footer') -%>
